body {
	background: url('../images/1200px-Raymond_James_Stadium02.JPG') no-repeat;
	background-size: 100%;
}

#masthead {
	background-color: white;
	margin-bottom: 15px;
}

.game-content {
	background-color: white;
	padding: 10px;
	border: .5em solid black;
}

.screen {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.full-center {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;
	position: absolute;
}

.font-massive {
	font-size: 3em;
}

.inline-block {
	display: inline-block;
}

.logo {
	max-height: 200px;
}

#tracker {
	background-color: black;
}

.play {
	min-height: 20px;
	border: 2px solid white;
	background-color: green;
	padding: 10px;
	color: white;
	font-weight: bold;
	font-size: 1.3em;
}